.signup__main {
  min-height: 100svh; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4dvh 2dvw; 
}

.signup__section {
  background: color(display-p3 0.95 0.91 0.81); 
  border-radius: 1rem;
  padding: 4svh 3svw; 
  max-width: 600px;
  width: 100%;
  box-shadow: 0 2px 8px color-mix(in srgb, black 6%, transparent);
  container-type: inline-size;
}

.signup__title {
  text-align: center;
  color: color(display-p3 0.22 0.4 0.25); 
  margin-bottom: 3svh;
  font-size: 2.5svw;
  line-height: 1.1;
}

.signup__section .signup__form-label {
  font-size: 1.15rem;
  margin-bottom: 1svh;
}

.signup__section .signup__form-control {
  font-size: 1.15rem;
  padding: 1svh 1.5svw;
  min-height: 3svh;
}

.signup__section .mb-3 {
  margin-bottom: 2svh !important;
}

.signup__section .btn {
  font-size: 1.2rem;
  padding: 1svh 0;
  background: color(display-p3 0.66 0.79 0.34); 
  color: color(display-p3 0.22 0.4 0.25); 
  border: none;
}


@container (max-width: 350px) {
  .signup__form-label {
    font-size: 1rem;
  }

  .signup__form-control {
    font-size: 1rem;
    padding: 0.6svh 0.7svw;
    min-height: 2.5svh;
  }

  .btn {
    font-size: 1rem;
    padding: 0.6svh 0;
  }
}