<footer class="footer">
  <div class="footer__content">
    <div class="footer__left">
      <span class="footer__logo"><img src="./assets/images/logo.png" alt="Logo" class="footer__logo"></span>
    </div>
    <nav class="footer__center" aria-label="Footer navigation">
      <a href="./article.html">Article</a>
      <a href="./signup.html">Sign up</a>
    </nav>
    <div class="footer__right">
      <a href="#" aria-label="Google Plus">
        <i class="fab fa-google fa-lg footer__icon"></i>
      </a>
      <a href="#" aria-label="Facebook">
        <i class="fab fa-facebook fa-lg footer__icon"></i>
      </a>
      <a href="#" aria-label="Twitter">
        <i class="fab fa-twitter fa-lg footer__icon"></i>
      </a>
    </div>
  </div>
</footer>
